# General OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.iml

# Node.js (for backend)
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.env
.env.test
.env.production
.env.local
coverage/
dist/
build/
out/

# Flutter / Dart (for mobile-app)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart

# iOS/Android Build files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# Miscellaneous
*.log
*.sqlite
